.table_container {
    width: 100%;
    margin-top: 20px;
}

.table_container > button {
    margin-bottom: 20px;
    margin-left: 20px;
}

.table_container > button > i {
    margin-right: 5px;
}

.table_itens {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.table_options {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn-table-option {
    width: 45px;
}

#table_lancamentos {
    width: 98%;
}