.novasenha {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #3CB371
}

.card {
    width: 450px;
    height: 600px;
    -webkit-box-shadow: 11px 10px 3px 0px rgba(0, 155, 0, 0.7);
    -moz-box-shadow:    11px 10px 3px 0px rgba(0, 155, 0, 0.7);
    box-shadow:         11px 10px 3px 0px rgba(0, 155, 0, 0.7);
}

.novasenha__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.novasenha__h1 {
    text-align: center;
    margin-top: 150px;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.5);
    margin-bottom: 35px;
    color: #3CB371;
    font-weight: 300;
}

.form-group {
    width: 80%;
    position: relative;
}

.novasenha__form > .form-group > label {
    margin-left: 0px;
    color: #3CB371;
    font-weight: 300;
}

.form-control {
    border-radius: 1.25rem;
}

.novasenha__icon--1 {
    width: 20px;
    position: absolute;
    top: 40px;
    right: 10px;
}

.novasenha__icon--2 {
    width: 20px;
    position: absolute;
    top: 40px;
    right: 10px;
}

.novasenha__icon--3 {
    width: 160px;
    top: -80px;
    position: absolute;
}

.novasenha__checkbox {
    width: 100%;
    margin-left: 100px;
}

.novasenha__checkbox label {
    margin-left: 5px;
}

#card__novasenha {
    border-radius: 30px;
}

#novasenha__btn {
    margin-top: 15px;
    width: 80%;
    background-color: #3CB371;
    border-color: #3CB371;
    border-radius: 30px;
    font-weight: 300;
}

#novasenha__btn:hover {
    background-color: #2E8B57;
    border-color: #2E8B57;
}

#novasenha, #confnovasenha {
    border-radius: 30px;
}
